.dashboard-menu {
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 1.5rem;
}

.dashboard-menu-item {
    background-color: #d8d8d8;
    border-color: #d8d8d8;
    transition: background 0.2s, color 0.2s;
    text-align: center;
    border-radius: 5px;
}

.menu-group-title {
    margin-bottom: 0;
}

.menu-group-header {
    margin-bottom: 0.5rem;
}

.dashboard-menu-item.active,
.dashboard-menu-item:focus {
    background-color: #b0b0b0 !important;
    border-color: #b0b0b0 !important;
    color: #fff;
}