.dashboard-menu {
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 1.5rem;
    padding-left: 3rem;
}

.dashboard-menu-item {
    background-color: #d8d8d8;
    border-color: #d8d8d8;
    transition: background 0.2s, color 0.2s;
    padding-left: 2.5rem;
    border-radius: 10px;
}

.dashboard-menu-item.active,
.dashboard-menu-item:focus {
    background-color: #b0b0b0 !important;
    border-color: #b0b0b0 !important;
    color: #fff;
}