#dropdown-user+.dropdown-menu {
    min-width: 100px;
    width: 120px;
    padding: 0.25rem 0;
}

#nav-dropdown-user {
    font-weight: bold;
}

#nav-dropdown-user:hover,
#nav-dropdown-user:focus {
    color: green;
}

.nav-dropdown-item {
    color: black !important;
    text-decoration: none;
    font-weight: 500;
}

.brand-text-primary {
    color: green;
}

.brand-text {
    font-size: x-large;
    font-weight: bold;
}