.course-info {
    line-height: 4rem;
}

.course-path {
    color: lightgray;
    text-decoration: none;
}

.course-path-arrow {
    color: lightgray;
    margin: 0 0.5rem;
}

.course-path:hover {
    color: #d1e7dd;
    text-decoration: underline;
    cursor: pointer;
}

.course-meta {
    color: black;
    padding-right: 1rem;
    padding-left: 5px;
}